<%= form_with model: [:admin, @classroom] do |f| %>    
  <%= render "shared/error_message", object: @classroom %> <%# オブジェクトを渡す %>
  
  <div class="mb-3">
    <%= f.label :name, "クラス名", class: "form-label fw-bold" %>
    <%= f.text_field :name, autofocus: true, placeholder: "クラス名", class: "form-control" %>
    <p class="mt-2">⚠️ クラス名（例:小学生高学年5級）</p>
  </div>

  <div class="mb-3">
    <%= f.label :eiken_level, "クラス名(英語表記)", class: "form-label fw-bold" %>
    <%= f.text_field :eiken_level, autofocus: true, placeholder: "クラス名(英語表記)", class: "form-control" %>
    <p class="mt-2">⚠️ クラス名（例:EH5）</p>
  </div>

  <div class="d-flex gap-2">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "キャンセル", admin_classrooms_path, class: "btn btn-secondary" %>
  </div>
<% end %>