<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">クラス一覧</h3>
        <%= link_to "+ 新しいクラス作成", new_admin_classroom_path, class: "btn btn-info" %>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>クラス名</th>
              <th>英語表記</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @classrooms.each do |classroom| %>
              <tr>
                <td><%= classroom.name %></td>
                <td><%= classroom.eiken_level %></td>
                <td>
                  <%= link_to "編集", edit_admin_classroom_path(classroom), class: "btn btn-sm btn-warning" %>
                  <%= link_to "削除", admin_classroom_path(classroom), data: { turbo_method: :delete, turbo_confirm: "このクラスを削除すると紐づく宿題も全て削除されます。本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>