<% content_for :title, I18n.t('views.homeworks.index.title') %>
<%= render "shared/header" %>

<div class="homework-index-container">
  <!-- 検索バー -->
  <%= render "homeworks/search_bar" %>
  <!-- モーダル -->
  <%= render "homeworks/modal" %>
  <!-- 英検級タブ -->
  <%= render "homeworks/eiken_tab" %>

  <h1 class="homework-page-title">宿題一覧</h1>
    <!-- 宿題リスト -->
    <%= render "homeworks/homework_lists" %>

  <div class="pagination-wrapper">
    <%= paginate @homeworks %>
  </div>
</div>
<%= render 'shared/navigation_bar' %>
