<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page_title(yield(:title), admin: true) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %> 
  <%= stylesheet_link_tag "admin", media: "all" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">

  <div class="app-wrapper">
    <%= render "admin/shared/header_bar" %>
    <%= render "admin/shared/sidebar" %>

    <!-- Content Wrapper -->
    <main class="app-main">
      <div class="app-content-header">
      </div>

      <div class="app-content">
        <div class="container-fluid">
          <%= render "shared/flash_message" %>
          <%= yield %>
        </div>
      </div>
    </main>
  </div>
  <%= javascript_include_tag "admin", type: "module" %>
</body>
</html>